<div class="container text-center block-center mt-5">
  <div class="row text-center block-center">
    <div class="col-md-6 offset-3">
      <app-task-form (addTask)="addTask($event)"></app-task-form>
    </div>
  </div>

  <div class="row text-center block-center mt-5">
    <div class="col-md-6 offset-3">
      <h1>Todo List</h1>
      <ul>
        <li *ngFor="let task of tasks" class="mt-1">
          <app-task-list-item [task]="task"></app-task-list-item>
        </li>
      </ul>
    </div>
  </div>
